---
name: Python package

# yamllint disable-line rule:truthy
on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pytest
          pip install -e .
      - name: Test with pytest
        run: |
          pytest

  quality-control:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          #      - name: Check black formatting
          #        run: |
          #          pip install black
          #          black --check puresnmp
      - name: Lint with pylint
        run: |
          pip install pylint
          pylint --reports=y --exit-zero puresnmp


  publish:

    needs: test
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v1
      - name: Build distribution
        if: >
          github.event_name == 'push' &&
          startsWith(github.event.ref, 'refs/tags')
        run: |
          pip install wheel
          python setup.py bdist_wheel sdist
      - name: Publish package
        if: >
            github.event_name == 'push' &&
            startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@e777b333
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
